body {
    font-family: sans-serif;
    background: rgba(#000, 0.02);
}

.keyboard-wrapper {
    .ui-keyboard-input-current {
        //position: absolute;
        z-index: -1;
    }
}

textarea,
input {
    font-size: 2em;
}

input {
    font-size: 1.2em;
    font-weight: normal;
    border: 1px solid #CCC;
    &.invalid {
        border-color: red !important;
        outline: 3px solid red;
        //box-shadow: $error 0px 0px 12px;
    }
}

.errormsg {
    position: absolute;
    font-size: 0.6em;
    color: red;
    opacity: 0;
    margin-top: 0.5em;
    transition: all 0.5s;
    &.invalid {
        display: block;
        opacity: 1;
    }
}
